<table class="files">
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Size</th>
    <th></th>
  </thead>
  <tbody>
    <% if (folderId !== "root") { %>
      <tr>
        <td><a href="<%= previousPage %>" class="back-link">. .</a></td>
      </tr>
    <% } %>
    <% folders.forEach((folder) => { %>
      <tr>
        <td><a href="/root/folders/<%= folder.id %>"><%= folder.name %></a></td>
        <td>Folder</td>
        <td>-</td>
        <td>
          <div class="flex gap-4 justify-center">
            <form class="max-w-content">
              <button type="button" class="update-btn"><i class="material-icons">description</i></button>
            </form>
            <form method="post" action="/root/folders/<%= folder.id %>/delete" class="flex gap-4 justify-end max-w-content">
              <button type="submit" class="delete-btn"><i class="material-icons">delete</i></button>
            </form>
          </div>
        </td>
      </tr>
    <% }) %>
    <% files.forEach((file) => { %>
      <tr>
        <td><%= file.name %></td>
        <td><%= file.fileType %></td>
        <td><%= file.fileSize > 1000 ? Math.round(file.fileSize / 1000) : file.fileSize %>K</td>
        <td>
          <div class="flex gap-4 justify-center items-center">
            <form action="/root/folders/<%= file.folderId %>/files/<%= file.id %>/download" class="max-w-content">
              <button type="submit" class="download-btn"><i class="material-icons">download</i></button>
            </form>
            <form action="/root/folders/<%= file.folderId %>/files/<%= file.id %>/rename" class="max-w-content">
              <button type="submit" class="update-btn"><i class="material-icons">description</i></button>
            </form>
            <form method="post" action="/root/folders/<%= file.folderId %>/files/<%= file.id %>/delete" class="max-w-content">
              <button type="submit" class="delete-btn"><i class="material-icons">delete</i></button>
            </form>
          </div>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
