<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar", { index: false, isAuthenticated: isAuthenticated }) %>
    <main class="flex flex-col gap-8 p-8">
      <%- include("partials/fileControls", { folderId: "root" }) %>
      <%- include("partials/table", { folders: folders, files: files, folderId: "root" }) %>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
